main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  background-color: #369dfd;
}
#board {
  display: grid;
  grid-template-columns: repeat(3, calc((430px - 36px) / 3));
  grid-template-rows: repeat(3, calc((430px - 36px) / 3));
  grid-gap: 18px;
  background-color: rgb(247, 247, 247);
  width: 430px;
  height: 430px;
}

#reset {
  border: none;
  outline: none;
  margin-top: 60px;
  font-size: 25px;
  width: 10em;
  color: rgb(255, 255, 255);
  height: 2em;
  background-color: #1f1f1f;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
#reset:hover {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
.sector {
  background-color: #369dfd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: rgb(255, 255, 255);
  font-family: "Pacifico", cursive;
  transition: 0.2s;
  text-shadow: 7px 7px rgb(78, 78, 78);
}
@media screen and (max-width: 767px) {
  #board {
    overflow: hidden;
    grid-template-columns: repeat(3, calc((250px - 20px) / 3));
    grid-template-rows: repeat(3, calc((250px - 20px) / 3));
    grid-gap: 10px;
    width: 250px;
    height: 250px;
  }
  #reset {
    font-size: 18px;
  }
  .sector {
    font-size: 50px;
    text-shadow: 4px 4px rgb(78, 78, 78);
  }
}
.sector:hover {
  background-color: #1275d2;
}

.sector.highlight {
  background-color: #1f1f1f;
}
.sector.gameover {
  pointer-events: none;
}
